{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    
        <!-- 
        Template bootstrap pour SIG: https://github.com/luckynvic/GIS-Web-Template        
        -->
    
        <!-- Infos générales -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>Carine v3</title>
        <meta name="author" content="vjulier@atmo-aura.fr">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
        <!-- Chargement des feuilles de stype CSS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
        <link href="{% static 'raster/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'raster/lib/customScroll/css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
        <link href="{% static 'raster/css/style.default.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'raster/css/style.css' %}"/>

        <script type="text/javascript"> </script>
        <!-- Matomo -->
         <script type="text/javascript">
           var _paq = _paq || [];
           /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
           _paq.push(['trackPageView']);
           _paq.push(['enableLinkTracking']);
           (function() {
             var u="//matomo.atmo-aura.fr/";
             _paq.push(['setTrackerUrl', u+'piwik.php']);
             _paq.push(['setSiteId', '5']);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
           })();
         </script>
         <!-- End Matomo Code -->
        <!-- API Google Maps
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHyrW7AhUa3J8sm7iLofM5PzbLmj_j2wo" type="text/javascript"></script>
        -->
        
    </head>
    
    <body>
        <!-- Barre de navigation -->
        <nav class="navbar navbar-default nav-fixed-top" role="navigation" id="app-nav-bar" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="{% url 'accueil' %}">CARINE</a>

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <a style='color : grey;' class="navbar-brand"><h6><i>Bonjour {{user.username}}</i></h6></a>
                <a style='color : grey;' class="navbar-brand"><h6><i>Contexte actif: {{ctx.nom}}</i></h6></a>



                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><p class="navbar-text">Utilisateur - Astreinte</p></li> -->
                    <li>
                        <a href="{% url 'mylogout' %}">Logout</a>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </nav>
        
        <!-- Barre d'outils -->
        <nav class="navbar navbar-default nav-fixed-top" role="navigation" id="tools-nav-bar" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li >
                        <a  onclick="multi_form_show()" class="btn btn-default">Calcul du multipolluants</a>
                    </li>

                    <li >
                     
                        <a onclick="launch_commentaire(1)" data-toggle="tooltip" title="le commentaire peut être re-enregistré autant de fois que nécessaire" class="btn btn-default"> Ecrire le commentaire</a>
                    </li>

                    <li>
                        <a  onclick="confirmValidPrevi()" class="btn btn-default"> </i> VALIDER LA PREVISION </a>    
                    </li>
                

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'dashboard_fine' %}" target="_blank">Validation fine échelle<i class="glyphicon glyphicon-th-check"></i></a>
                    </li>
                    <li>
                       <a href="{% url 'config_html' %}" target="_blank">Configuration<i class="glyphicon glyphicon-th-check"></i></a>
                    </li>
                    <!-- <li><p class="navbar-text">Utilisateur - Astreinte</p></li> -->
					<li class="dropdown">
						

							<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-wrench"></i></a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a onclick="preprocess_files()" href="#" title="">Préparation des sources</a></li>
								<li><a onclick="launch_async(get_stats_reg)" data-toggle="tooltip" title="calcul les stats pour toutes les cartes (environ 1min)" >Statistiques réglementaires (toutes)</a></li>
                                <li><a onclick="launch_BQA()" href="#" data-toggle="tooltip" title="calcule et exporte dans transalpair tous les indices du bassin grenoblois">Bassin grenoblois</a></li>
								<li><a onclick="get_indice_com()" data-toggle="tooltip" title="calcul les indices pour toutes les cartes (environ 3min). Pas indispensable car recalculé à la validation finale">Indices communaux</a></li>
								<li><a onclick="export_low_val()" href="#" title="Lien 2">Basse définition valeurs</a></li>
								<li><a onclick="export_low()" href="#" title="Lien 2">Basse définition RGB</a></li>
								<li><a onclick="export_hd()" href="#" title="Lien 2">Haute définition RGB</a></li>
								<li><a onclick="contactSMILE()" href="#" data-toggle="tooltip" title="déclenche un nouvel import de SMILE sans réaliser aucun calcul.">Rediffuser</a></li>
                                <li><a onclick="export_scp()" href="#" data-toggle="tooltip" title="exporte l'ensemble des fichiers de sortie vers leur destination">re-exporter</a></li>
                                <li><a onclick="get_archive()" href="#" data-toggle="tooltip" title="récupère l'archive du jour">Télécharger l'archive du jour</a></li>
							</ul>

						
					</li>
                    <li>
                        <a onclick="switch_ecran()"><i class="glyphicon glyphicon-th-large"></i></a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    <div id="englob">
		<div   class="ui-widget-content" id="stats_div" class="list-group point-list-view" >
		<div  style="overflow : scroll; height : 1024px;" id="stats_tbl_div">
			<button draggable='true' id="drag_stats_btn"  > <i class="glyphicon glyphicon-move"></i></button>
			<button id="hide_stats_btn" onclick="remove_stats_form()"> <i class="glyphicon glyphicon-remove"></i></button>
			<table  id="stats_tbl" class="table table-responsive t3">
				<thead>
					<tr>
						<th colspan=4></th>
						<th colspan=5>INFO</th>
						<th colspan=5>ALERT</th>						
					</tr>
					<tr>
						<th>zone</th>
						<th>lib</th>
						<th>mean</th>
						<th>max</th>
						<th>surf</th>
						<th>% surf</th>
						<th>dep. surf</th>
						<th>pop</th>
						<!-- <th>% pop</th> -->
						<th>dep. pop</th>
						<th>surf</th>
						<th>% surf</th>
						<th>dep. surf</th>
						<th>pop</th>
						<!-- <th>% pop</th> -->
						<th>dep pop</th>	
					</tr>					
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>                        
	</div>
<!--     <button onclick='test()'>TEST</button> -->
        <div  class="map-block" id="map-block1">
            <!-- Déclaration de la carte -->
        
            <div class="visible-lg visible-md">

                <!-- Barre de recherches
                <div id="search-box">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="searchText">Search</label>
                            <input type="text" class="form-control input-sm" id="searchText" placeholder="Rechercher ...">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                </div>v
                -->

                <!-- Side Bar -->
                <div id="sidemenu" class="well">

                    <!-- Sidebar Options -->
                    <!-- <div class="btn-group btn-group-justified btn-group-sm"> -->
                        <!-- <a class="btn btn-default"> <i class="glyphicon glyphicon-fullscreen"></i> Fit in Window </a> -->
                        <!-- <a class="btn btn-default"> <i class="glyphicon glyphicon-filter"></i> Filtrer </a> -->
                        <!-- <a onclick="toggleNav()" class="btn btn-default"> <i class="glyphicon glyphicon-lock"></i> Navigation simultanée </a> -->
                        
                    <!-- </div> -->
                    <div id="poll_switch_1" class="btn-group btn-group-justified btn-group-sm">

                        
                    </div>
                    <div class='raster-menu-left'>

                    <!-- Sidebar Separator -->
                        <div class="divider10"></div>

                        <!-- Sidebar Panel
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a>Sort By</a>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="list-group point-list-view vector-layer" id="vect">
                        <a href="#" class="list-group-item point-item" id="reg_aura" > <h4 class="list-group-item-heading" >Régions</h4>  <span class="glyphicon glyphicon-eye-close"></span></a>
                        <a href="#" class="list-group-item point-item" id="disp_reg" > <h4 class="list-group-item-heading" >Dispositifs</h4>  <span class="glyphicon glyphicon-eye-close"></span></a>
						<a href="#" class="list-group-item point-item" id="epci" > <h4 class="list-group-item-heading" >Epcis</h4>  <span class="glyphicon glyphicon-eye-close"></span></a>
                        <a href="#" class="list-group-item point-item" id="layer_sites_fixes" > <h4 class="list-group-item-heading" >Sites fixes</h4>  <span class="glyphicon glyphicon-eye-close"></span></a>
                        <a href="#" class="list-group-item point-item" id="corr" > <h4 class="list-group-item-heading" >Corrections</h4>  <span class="glyphicon glyphicon-eye-close"></span></a>
                    </div>
                    <div class="divider_vect"></div>
                    <div class='active_layer_div' id='active_layer_div1'>
                        <p class='active_layer_p alert alert-info' id='active_layer_p1'></p>
                    </div>
					<div class="coords_div">
						<table class="table-bordered clic-val-table" id="clic-val-table-1">
							<tr>
								<th> concentration corrigée </th>
								<th> sous-indice </th>
							</tr>
							<tr>
								<td id='t1-v1'> -- </td>
								<td id='t1-v2'> -- </td>
							</tr>
						</table>
					</div>
<!--                    <div class="btn-group btn-group-justified btn-group-sm">
                        <a  onclick="multi_form_show()" class="btn btn-default"> <i class="glyphicon glyphicon-ok"></i> Calcul du multipolluants (0 pr test) </a>
                        <a  onclick="validPrevis()" class="btn btn-default"> <i class="glyphicon glyphicon-ok"></i> VALIDER LA PREVISION </a>                        
                    </div> -->



                    <!-- couches vectorielles -->

                </div>
				<div class="map-div">
					<div id="map">				

					</div>
					<div style="overflow : scroll; height : 250px;" id="corr-div">
					</div>
				</div>

            </div>
        </div> <!--fin map block 1 -->
        <div class="map-block" id="map-block2">
        

            <div class="visible-lg visible-md">

                <!-- Barre de recherches
                <div id="search-box">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="searchText">Search</label>
                            <input type="text" class="form-control input-sm" id="searchText" placeholder="Rechercher ...">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                </div>v
                -->

                <!-- Side Bar -->
                <div id="sidemenu2" class="well">
                    <!-- Sidebar Options -->
                    <!-- <div class="btn-group btn-group-justified btn-group-sm"> -->
                        <!-- <a class="btn btn-default"> <i class="glyphicon glyphicon-fullscreen"></i> Fit in Window </a> -->
                        <!-- <a class="btn btn-default"> <i class="glyphicon glyphicon-filter"></i> Filtrer </a> -->
                    <!-- </div> -->

                    <!-- Sidebar Separator -->
                    <div class="divider10"></div>
                    <div id="poll_switch_2" class="btn-group btn-group-justified btn-group-sm">

                        
                    </div>
                    <div class="list-group point-list-view">
                        <table class="table table-responsive t2">
                        </table>         
                    </div>
                    <div class="divider10"></div>
                    <p class="other_head"></p>
                    <div class="list-group point-list-view" id="other_layers" >      
                    </div>
                    
                    
                    <button id='switch_source_btn' class="btn btn-default btn-sm" onclick='switch_source()'>
                        <span > <i class="glyphicon glyphicon-tint"></i> Changer de source </span>
                    </button>

                    <div class="divider_vect"></div>
                    <div class="list-group point-list-view vector-layer" id="vect">
                        <a href="#" class="list-group-item point-item"  id="reg_aura_2" > <h4 class="list-group-item-heading" >Régions</h4>    <span class="glyphicon glyphicon-eye-close"></span></a>
                        <a href="#" class="list-group-item point-item" id="disp_reg_2" > <h4 class="list-group-item-heading" >Dispositifs</h4>    <span class="glyphicon glyphicon-eye-close"></span></a>
						<a href="#" class="list-group-item point-item" id="epci_2" > <h4 class="list-group-item-heading" >Epcis</h4>    <span class="glyphicon glyphicon-eye-close"></span></a>
                        <a href="#" class="list-group-item point-item"  id="layer_sites_fixes_2"> <h4 class="list-group-item-heading" >Sites fixes</h4>    <span class="glyphicon glyphicon-eye-close"></span></a>
                    </div>
                    <div class="divider_vect"></div>
                    <div class='active_layer_div' id='active_layer_div2'>
                        <p class='active_layer_p alert alert-info' id='active_layer_p2'></p>
                    </div>
					<div class="coords_div">
						<table class="table-bordered clic-val-table" id="clic-val-table-2">
							<tr>
								<th> concentration corrigée </th>
								<th> sous-indice </th>
							</tr>
							<tr>
								<td id='t2-v1'> -- </td>
								<td id='t2-v2'> -- </td>
							</tr>
						</table>
					</div>
                </div>
                            <!-- Déclaration de la carte -->
            <div id="map2"></div>
            </div>
			<div style="overflow : scroll; height : 250px;" id="corr-div">
				</div>
        </div>
        <!-- fin du map-block2 -->
        
<!--        <div class="right-englob" id="stat-block">DIV qui accueillera les stats réglementaires</div>
        
        <div class="btn-group-vertical btn-group-lg toggle-right-mode" >
            <button class="btn btn-secondary" id="right-btn-chevron" >&#10094;</button>
            <button  onclick="show_map2_clic()" class="btn btn-secondary right-btn " id="show_map2">Cartes +</button>
            <button  onclick="show_stats_clic()" class="btn btn-secondary right-btn" id="show_stats">Stats</button>
            <button  onclick="show_map1_clic()" class="btn btn-secondary right-btn" id="show_map1">Carte plein écran</button>
        </div> -->
        <!-- Modal popup de correction -->
        <div id="modal_corr_form" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                        </button>
                         <h4 class="modal-title" id="ModalCorrTitle">Correction</h4>
                    </div>
                    <form id="myform_tube" class="form-horizontal" role="form" method="POST">
                        <div class="modal-body">
                          <div class="form-group">
                            <div class="col-md-12">
                                <label for="type_tube">Correction à appliquer</label>
                                <input type="texts" class="form-control" id="corr_form_val" placeholder="Valeur" name="corr_form_val" >
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                                <label for="type_tube">Valeur au dessus de laquelle la correction s'appliquera</label>
                                <input type="texts" class="form-control" id="corr_form_min" placeholder="Concentration minimum" name="corr_form_min" >
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                                <label for="type_tube">Valeur au dessous de laquelle la correction s'appliquera</label>
                                <input type="texts" class="form-control" id="corr_form_max" placeholder="Concentration maximum" name="corr_form_max" >
                            </div>
                          </div>
                          <!-- <div class="form-group"> -->
                            <!-- <div class="col-md-12"> -->
                                <!-- <label for="type_tube">Seuil supérieur à ne pas dépasser</label> -->
                                <!-- <input type="texts" class="form-control" id="corr_form_ssup" placeholder="seuil supérieur" name="corr_form_ssup" > -->
                            <!-- </div> -->
                          <!-- </div> -->

                            <!--
                            <div id="error_tube">
                            <div class="alert alert-danger"> <strong>Erreur</strong></br> Erreur dans un des champs du formulaire.</div>
                            </div>
                            -->
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="submitFormCorr">Appliquer la correction</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="reset">Annuler</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="commentaire-div" class="form-group row">
          
          <label for="commentaire-text-input" class="col-2 col-form-label">Text</label>
          <div class="col-10 commentaire-div2">
            <button class="del_form" id="hide_com_btn" onclick="remove_commentaire_form()"> <i class="glyphicon glyphicon-remove"></i></button>
            <textarea class="form-control" rows="3" placeholder="What's up?"  id="commentaire-text-input"></textarea>
            <input class="form-control hide" type="text" value="" id="echeance-input">
            <button  class="btn btn-primary" id="valid_commentaire" onclick="valid_commentaire()">Valider le commentaire</button>
          </div>
        </div>
		<div id="note-div" class="form-group row">
          
          <label for="note-text-input" class="col-2 col-form-label">Text</label>
          <div class="col-10 note-div2">
            <button class="del_form" id="hide_com_btn" onclick="remove_note_form()"> <i class="glyphicon glyphicon-remove"></i></button>
            <textarea class="form-control" rows="3" placeholder="What's up?"  id="note-text-input"></textarea>
            <input class="form-control hide" type="text" value="" id="id-input">
            <button  class="btn btn-primary" id="valid_note" onclick="valid_note()">Valider le commentaire</button>
          </div>
        </div>
		<div class="msg">	
			<button onclick='close_msg()' id='close-msg-btn'>Fermer</button>
		</div>
        <div id="mask">
        </div>
		<div id="confirm-valid-div">
			<div class="confirm-p">Etes vous sûr de valider la prévision?</div>
			<div class="confirm-btn-class">
				<button onclick="validPrevi()" class="confirm-btn">OK</button>		
				<button onclick="hideConfirmValidPrevi()" class="confirm-btn">Annuler</button>
			</div>
		</div>
			<div id='switch_source_div' class='form-group'>
				<button id="hide_switch_btn" onclick='remove_switch_form()'> <i class="glyphicon glyphicon-remove"></i></button>
				<div class="form-group">
					<label class="form-control" for="switch_input">
						Source à remplacer : 
					</label>
					<select class="form-control" id="switch_input" placeholder='choisissez dans la liste'  name="browser">
					</select>
				</div>
				<div class="form-group">
					<label class="form-control" for="new_source">
						Nouvelle source :
					</label>                            
					<select style='-webkit-appearance: none;' class="form-control" id="new_source"  name="new_source">
						
					</select>
				</div>
			<button id="validate_switch_btn" onclick='validate_switch_btn()'> <i class="glyphicon glyphicon-ok"></i> Valider le changement</button>
		</div>
                    <div id="multi_div" class="list-group point-list-view">
                        <div id="multi_tbl_div">
                            <button id="hide_multi_btn" onclick="remove_multi_form()"> <i class="glyphicon glyphicon-remove"></i></button>
                            <table id="multi_tbl" class="table table-responsive t3">
                                <thead class="thead-inverse">
                                    <tr>                      
                                        <th class="prev_col" colspan="2">Cartes à valider</th>
                                        <th colspan="4">Source de la carte</th>   
                                        <th></th>                                        
                                    </tr>
                                    <tr>                                    
                                        <th class="prev_col">Echéance</th>
                                        <th class="prev_col">Polluant</th>
                                        <th class="source_multi">Polluant</th>
                                        <th class="source_multi">Type</th>
                                        <th class="source_multi">Date du run</th>
                                        <th class="source_multi">Echéance</th> 
                                        <th class="source_multi">valider</th> 
                                       
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr id="tr_-1_no2">
                                        <th rowspan="3" class="prev_col" scope="row">-1</th>
                                        <td class="prev_col td_poll_prev">NO2</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>                                       
                                        <td rowspan="3" class="td_valid" id="run_-1"><input id="checkBox-1" type="checkbox" checked="checked"></td>
                                    </tr>
                                    <tr id="tr_-1_pm10">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">PM10</td>
                                        <td class="td_poll_source">sdfv</td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_-1_o3">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">O3</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_0_no2">
                                        <th class="prev_col" rowspan="3" scope="row">0</th>
                                        <td class="prev_col td_poll_prev">NO2</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <td rowspan="3" class="td_valid" id="run_0"><input id="checkBox+0" type="checkbox" checked="checked"></td>
                                    </tr>
                                    <tr id="tr_0_pm10">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">PM10</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_0_o3">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">O3</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_1_no2">
                                        <th class="prev_col" rowspan="3" scope="row">+1</th>
                                        <td class="prev_col td_poll_prev">NO2</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <td rowspan="3" class="td_valid" id="run_+1"><input id="checkBox+1" type="checkbox" checked="checked"></td>
                                    </tr>
                                    <tr id="tr_1_pm10">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">PM10</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_1_o3">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">O3</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_2_no2">
                                        <th class="prev_col" rowspan="3" scope="row">+2</th>
                                        <td class="prev_col td_poll_prev">NO2</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <td rowspan="3" class="td_valid" id="run_+2"><input id="checkBox+2" type="checkbox" checked="checked"></td>
                                    </tr>
                                    <tr id="tr_2_pm10">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">PM10</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                    <tr id="tr_2_o3">
                                        <!-- th -->
                                        <td class="prev_col td_poll_prev">O3</td>
                                        <td class="td_poll_source"></td>
                                        <td class="td_type"></td>
                                        <td class="td_date"></td>
                                        <td class="td_ech_source"></td>
                                        <!-- checkbox -->
                                    </tr>
                                </tbody>
                            </table>
                            <button id="calc_multi_btn" onclick="calculate_multi()">Calculer l'indice pour les échéances sélectionnées</button>
                        </div>                        
                    </div>

    </div>


        <!-- Javascript modules - Placed at the end of the document so the pages load faster -->

        <!-- Leaflet -->
        <link rel="stylesheet" href="{% static 'raster/lib/leaflet1.0.3/leaflet.css' %}" />
        <script src="{% static 'raster/lib/leaflet1.0.3/leaflet.js' %}"></script>

        <!-- Leaflet.draw -->
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/Leaflet.draw.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/Leaflet.Draw.Event.js' %}"></script>
        <link rel="stylesheet" href="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/leaflet.draw.css' %}"/>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/Toolbar.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/Tooltip.js' %}"></script>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/GeometryUtil.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/LatLngUtil.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/LineUtil.Intersect.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/Polygon.Intersect.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/Polyline.Intersect.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/ext/TouchEvents.js' %}"></script>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/DrawToolbar.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Feature.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.SimpleShape.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Polyline.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Circle.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Marker.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Polygon.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/draw/handler/Draw.Rectangle.js' %}"></script>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/EditToolbar.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/EditToolbar.Edit.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/EditToolbar.Delete.js' %}"></script>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/Control.Draw.js' %}"></script>

        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/Edit.Poly.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/Edit.SimpleShape.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/Edit.Circle.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/Edit.Rectangle.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet.draw2.0/Leaflet.draw-master/src/edit/handler/Edit.Marker.js' %}"></script>

        <!-- leaflet.imageTransform -->
        <script src="{% static 'raster/lib/leaflet.imageTransform/Leaflet.imageTransform-master/src/L.ImageTransform.js' %}"></script>

        <!-- JQuery -->
        <script src="{% static 'raster/lib/jquery2.2.4/jquery2.2.4.js' %}"></script>
        <script src="http://code.jquerygeo.com/jquery.geo-1.0.0-rc1.1.min.js"></script>

        <!-- Bootstrap -->
        <script src="{% static 'raster/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

        <!-- customScoll -->
        <script src="{% static 'raster/lib/customScroll/js/jquery.mCustomScrollbar.min.js' %}"></script>
        <script src="{% static 'raster/lib/customScroll/js/jquery.mousewheel.min.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet-clonelayer-master/index.js' %}"></script>
        <script src="{% static 'raster/lib/leaflet-greyscale.js' %}"></script>
        
		<script src="{% static 'raster/lib/Proj4Leaflet-1.0.1/lib/proj4.js' %}"></script>
		<script src="{% static 'raster/lib/Proj4Leaflet-1.0.1/src/proj4leaflet.js' %}"></script>
        <!-- styles des couches vecteurs -->
        <script src="{% static 'raster/lib/map_styles.js' %}"></script>
        
        <!-- Application principale -->
        <script src="{% url 'application_js' %}" type="text/javascript" charset="utf-8"></script>

    </body>
    <HEAD>

<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</HEAD>
</html>
